<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static "/css_user/theme.css" %}">
</head>
<body>
<div id="fondo">

</div>
    <main>
        <section>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <!--<button type="submit" class="enlace" role="link" onclick="window.location='admin/app/post/add/'">Crear nuevo blog
            </button>-->
            <input type="submit" value="Submit">
        </form>
    </section>
    </main>
</body>
</html>